.title-slide {
  background-image: url(img/qr_slides_inv.png);
  background-position: 12% 90%; 
  text-align: left;
  margin-left: 15px;
  padding-top: 220px;
}

.title-slide h1  {
  margin-top: -70px;
}

.title-slide h1, h2  {
  text-align: left;
}

.title-slide h1, h2, h3  {
  margin-left: 15px;
}

.title-slide h3  {
  text-align: right;
}

.title-slide .remark-slide-number {
  display: none;
}

strong {
  color: rgb(6,128,205);
}

.huge { font-size: 200% }
.large { font-size: 130% }
.small { font-size: 70% }
.tiny { font-size: 50% }
